:root {
  --color-dark: #03045e;
  --color-middark: #0077b6;
  --color-middle: #00b4d8;
  --color-midlight: #90e0ef;
  --color-light: #caf0f8;

  --font-header: 'Prata', sans-serif;
  --font-body: 'Lato', serif;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-light);
  font-family: var(--font-header);
}

.MuiTypography-root {
  color: var(--color-dark);
  font-family: var(--font-body);
}

.MuiTypography-h5{
  font-family: var(--font-header);
  font-weight: 500;
}

.MuiTypography-body2{
  color: var(--color-middark)
}

.MuiButton-root{
  background-color: var(--color-middark);
}


.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links a{
  display: inline-block;
  padding: 10px;
}


.header-left{
  display: inline-block;
}


.aboutSection {
  margin-bottom: 50px;
}

.contactForm{
  margin-bottom: 30px;
}
